# Database Connection
DATABASE_URL="postgresql://user:password@localhost:5432/realestate_db"

# NextAuth Configuration
AUTH_SECRET="your-secret-key-at-least-32-chars"
AUTH_URL="http://localhost:3000"
